*/twitter_api.txt
code/data/filtered/racism_sexism_benevolent/
code/data/filtered
code/dataset/data.csv
code/.ipynb_checkpoints/
code/cc.en.300.bin
code/cc.en.300.bin.gz
code/fastText
*.gz
code/embeddings
*.npz
code/models